.previewCourse{

    .title-head{
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .preview{

        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        .card{
            width: 370px;
            height: 420px;
            position: relative;
            box-shadow: 0 3px 30px rgba($color: #000000, $alpha: .05);
            background-color: #fff;

            .img{
                overflow: hidden;
                height: 300px;
                width: 100%;
                position: relative;
                background-position: center;
                background-size: cover;
                
                video{
                    height: 100%;
                    position: absolute;
                    left: 0;
                    display: none;
                }
                
                .play-btn{

                    background-color: rgba($color: #000000, $alpha: .2);
                    height: 120px;
                    width: 120px;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 100%;
                    transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);

                    &:hover{
                        height: 500px;
                        width: 500px;
                    }


                    .controlBtn{

                        height: 50px;
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: #fff;
                        transform: translate(-50%, -50%);
                        cursor: pointer;

                        &.pauseBtn{

                            display: none;

                        }

                    }
    
                }
            }


            .studentsEnrolled, .course-checkout{
                padding: 20px;
                font-size: 14px;
            }

            .studentsEnrolled{
                border-bottom: 1px solid rgba($color: #000000, $alpha: .08);
                color: #666;
            }

            .course-checkout{
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                background-color: #F7EBF3;
                background-color: #fff;
                transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);

                &:hover {
                    background-color: #F7EBF3;
                }

                .card-game{
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                }
            }
        }

        .description{
            background-color: #fff;
            box-shadow: 0 3px 30px rgba($color: #000000, $alpha: .05);
            width: 60% !important;
            padding: 60px 80px;
            position: relative;

            .backToCourses{
                text-transform: uppercase;
                font-size: 14px;
                display: flex;
                margin-bottom: 40px;
                align-items: center;
                cursor: pointer;
            }

            .title{
                font-size: 28px;
                width: 90%;
                font-weight: bold;
            }

            .fullSubtitle{
                margin: 30px 0;
                text-align: justify;
                font-size: 16px;
                color: #666;
                line-height: 25px;
            }

            .what_to_learn{
                list-style: none;
                color: #333;

                & li{
                    display: flex;
                    align-items: center;
                    padding: 15px 0;
                    font-size: 14px;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);

                    &:last-child{
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.learn_what{
    margin-bottom: 20px;
    font-weight: bold;
}