.title_enrolled {
    margin: 20px auto 50px auto;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;

}

.enrolled_card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.card_px {
    max-width: 1000px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 3px 50px rgba($color: #000000, $alpha: .05);
    padding: 15px;
    display: flex;
    align-items: center;


    .img{
        height: 100%;
        width: 35%;
        background-color: #F7EBF3;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img{

            width: 100%;

        }

        p{
            font-size: 42px;
            font-weight: bold;
            color: #fff;
        }
    }

    .information {

        padding: 0 30px;
        width: 70%;
        overflow: hidden;

        .program{
            font-size: 18px;
        }
    
        .subtitle_x{
            font-size: 14px;
            margin: 20px 0;
            line-height: 21px;
        }
    
        .pay{

            align-items: center;
            justify-content: space-between;

            .pay_button{
                border: 1px solid #000;
                padding: 15px 20px;
                margin-top: 30px;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                color: #000;
                cursor: pointer;

                &:hover{

                    background-color: hotpink;
                    border-color: hotpink;
                    color: #fff;
                }
            }

            .price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .trash{

                    display: flex;
                    align-items: center;

                    p{
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }
            }
            
        }
    }
}

.noCourse{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: montserrat;

    h1{
        padding: 0 30%;
        text-align: center;
        font-size: 42px;
    }

    .linkBtn{
        background-color: hotpink;
        padding: 20px 35px;
        border-radius: 100px;
        text-transform: uppercase;
        font-size: 12px;
        margin: 30px 0;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
}
